.encabezado{
    display: flex;
    justify-content: center;
    background-color:#3b5998;
}

.titulo{
    padding: 1px 7px;
    border-radius: 15px;
    background-color: white;
}

.contenedor_{
    margin: 5em 15em;
    display: flex;    
    justify-content: space-between;    

}

img {
    justify-content: center;
    width: 250px;
    height: 250px;
}