.App {
  text-align: center;
}

.encabezado{
  display: flex;
  justify-content: center;
  background-color:#3b5998;
}

.division{  
  margin-top: 20px;
  display: grid;  
  grid-template-columns: repeat(auto-fit, 15rem);
  justify-content: center;
}

.info{
display: flexbox;
flex-flow: row wrap;
background-color: rgb(199, 200, 247);
}


.img{
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.product_id{
  text-decoration: none;
  display: inline-block;
  background-color: white;
  flex-flow: row wrap;
  align-items: center;
  width: 200px;
  height: 300px;
  border-width: 2px;
  border-radius: 4%;
  margin-top: 15px;
  border-style: solid;
  border-color: rgb(8, 8, 8);
}

#anterior{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
}

#siguiente{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.barra_buscar{
  margin-top: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
